<style>
    body {
        font-family: Helvetica;
    }
</style>
<div>
    <h1>Maxymiser</h1>
    <p>Campaign builder</p>
</div>
<script>
    (function($, campaign){
        $('body').prepend(mm_inner_HTML);
    }(window.jQuery, this));
</script>